body{
    background-color: #040403;
    height: 100vh;
    width: 90vw;
    margin: 50px;
    height: 100vh;
    color: #D9D9D9;
    margin-bottom: 0%;
}
@font-face {
    font-family:akira expanded ;
    src: url(font/Akira\ Expanded\ Demo.otf);
}
@font-face {
    font-family: gotham;
    src: url(font/Gotham-Light.otf);
}
@font-face {
    font-family: gotham medium;
    src: url(font/GothamMedium.ttf);
}

.img{
    position: absolute;
    width: 50px;
    height: 50px;
}

ul{
    font-family: gotham;
    color: #A29797;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    list-style-type: none;
    background-color: none;
    position: sticky;
}
li{
    text-align: end;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 40px;
}
li:hover:not(.active){
    color: white;
    cursor: pointer;
}
.active{
    color: white;
}


.container{
    background-color: #040403;
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.heading{
    text-align: center;
    font-family: akira expanded;
    letter-spacing: 3px;
    font-size: 45px;
    color: #BC1823;

}
.lorem{
    position: relative;
    top: -50px;
    right: -350px;
    width: fit-content;
    text-align: start;
    font-family: gotham;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 25px;
}

.container2{
height: 90vh;
width: 90vw;
background-color: #040403;
display: flex;
flex-direction: column;
justify-content: flex-start;
line-height: 15px;
letter-spacing: 3px;
}

a{
    font-family: akira expanded;
    font-size: 38px;
    width:  auto;
    text-decoration: none;
}

 a h1 {
    padding: 0.2em 0.4em;
}

a {
    box-shadow: inset 0 0 0 0 #BC1823;
    color: #BC1823;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

a:hover {
    box-shadow: inset 1450px 0 0 0 #BC1823;
    color: #1e1c1c;
  }



.container3{
    background-color: #040403;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.about{
font-family: gotham;
font-size: 25px;
letter-spacing: 3px;
}

.content3{
    font-family: gotham medium;
    font-size: 55px;
    letter-spacing: 3px;
    line-height: 1.3;
}
span{
    color: #BC1823;
}

.container4{
    height: 50vh;
    background-color: #040403;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.motto{
    font-family: gotham;
    font-size: 25px;
    letter-spacing: 3px;
    align-self: center;
}
.content4{
    font-family: gotham medium;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.3;
}

.container5{
    height: 100vh;
    background-color: #040403;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -80px;

}

.content5{
    font-family: gotham medium;
    font-size: 40px;
    letter-spacing: 1.5px;
    line-height: 1.2;
}
