:root{
  --bg-black: #0F0F0F !important;
  --bg-darkblue: #070F2B !important;
  --text-orange: #FC6736!important;
  --text-galaxyblue: #1B1A55 !important;
  --text-green: #005B41 !important;
  --bg-white: #F6F5F5 !important;
  }
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
    padding-top: 56px;
    font-family: Hauora;
    background-color: var(--bg-white);
    min-height: calc(100vh - 40px);
    color: var(--bg-black);
    }

.container{
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.content1{
  height: px;
  /* border: 1px solid #FC6736 ; */
  justify-content: space-between;
}

.content2{
  /* border: 1px solid #FC6736 ; */

}

img {
  --s: 20px;  /* size of the frame */
  --b: 2px;   /* border thickness */
  --w: 400px; /* width of the image */
  --c: #FC6736;
  
  width: var(--w);
  aspect-ratio:1;
  object-fit: cover;
  padding: calc(2*var(--s));
  --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
  background:
    linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
    linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
  outline: calc(var(--w)/2) solid #0009;
  outline-offset: calc(var(--w)/-2 - 2*var(--s));
  transition: .4s;
  cursor: pointer;
}
img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s)/-2);
  --_i: calc(100% - 2*var(--s));
}
